#view-variables {
  overflow-y: scroll;
}

div.generator-list > ul {
  list-style-type: none;
}

div.generator-list > h1 {
  float: none;
  font-variant: normal;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Helvetica,Arial;
  background-color: transparent;
  color: white;
}

div.generator-list > ul h2 {
  float: none;
  font-variant: normal;
  font-size: 1.0em;
  font-weight: bold;
  font-family: Helvetica,Arial;
  background-color: transparent;
  color: white;
}

div.generator-list .number {
  margin: 0;
  padding: 0 1em 0 1em;
}

div.generator-list .threetype-v3 .x {
  background-color: rgba(255,160,160,0.3);
}

div.generator-list .threetype-v3 .y {
  background-color: rgba(160,255,160,0.3);
}

div.generator-list .threetype-v3 .z {
  background-color: rgba(160,160,255,0.3);
}
