---
title: Shader Lab
---

<div class="tile">
  <div class="tile-header"><h1>Vertex Shader</h1></div>
  <div id="editor-vertex" class="tile-inner-content"></div>
</div>

<div id="threejs-tile" class="tile">
  <div class="tile-header"><h1>Output</h1></div>
  <div id="view-threejs" class="tile-inner-content"></div>
  <div class="output-toggles">
    <label><input id="animate_model" type="checkbox" checked="true"/>Animate model</label>
    <label><input id="animate_light" type="checkbox" checked="true"/>Animate light</label>
    <label><input id="use_phong" type="checkbox" checked="true"/>No shader, use phong</label>
  </div>
</div>

<div class="tile">
  <div class="tile-header"><h1>Fragment Shader</h1></div>
  <div id="editor-fragment" class="tile-inner-content"></div>
</div>

<div class="tile">
  <div class="tile-header"><h1>Uniforms and Attributes</h1></div>
  <div id="view-variables" class="tile-inner-content">
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>
  </div>
</div>
