---
title: Shader Lab
---

<div id="editor-vertex-container" class="top-left">
  <div id="editor-vertex" class="full"></div>
</div>
<div id="editor-fragment-container" class="bottom-left">
  <div id="editor-fragment" class="full"></div>
</div>
<div id="view-threejs-container" class="top-right">
  <div id="view-threejs" class="full"></div>
</div>
<div id="view-variables-container" class="bottom-right">
  <div id="view-variables" class="full">
    <ul>
      <li>uniform a</li>
      <li>uniform b</li>
      <li>uniform c</li>
    </ul>
  </div>
</div>
